@model PaginatedList<FinalLaboratorio4.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Todos los productos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>

<div class="container">
    <div class="row">
@foreach (Producto producto in Model) {
    <div class="col-sm-3 mb-3">
        <a asp-action="Details" asp-route-id="@producto.Id" class="text-reset">
            <div class="card h-100">
                <img class="card-img-top" src="@producto.UrlImagen" alt="imagen del producto" loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@producto.Categoria.Descripcion</h6>
                    <p class="card-text">$@producto.Precio</p>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@producto.Id" class="card-link">Editar</a>
                        <a asp-action="Delete" asp-route-id="@producto.Id" class="card-link">Borrar</a>
                    }
                </div>
            </div>
        </a>
    </div>
}
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled"
>
    Anterior
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled"
>
    Siguiente
</a>
