@model FinalLaboratorio4.Models.Proveedor

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>

<div class="container">
    <div class="row">
@foreach (Producto producto in Model.Productos) {
    <div class="col-sm-3 my-3">
        <a asp-controller="Productos" asp-action="Details" asp-route-id="@producto.Id" class="text-reset">
            <div class="card h-100">
                <img class="card-img-top" src="@producto.UrlImagen" alt="imagen del producto" loading="lazy">
                <div class="card-body">
                    <h5 class="card-title">@producto.Nombre</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@producto.Categoria.Descripcion</h6>
                    <p class="card-text">$@producto.Precio</p>
                    <a asp-action="Edit" asp-route-id="@producto.Id" class="card-link">Editar</a>
                    <a asp-action="Delete" asp-route-id="@producto.Id" class="card-link">Borrar</a>
                </div>
                <div class="pb-1 pr-1 d-flex flex-row-reverse">
                    <i class="@(producto.Favorito ? "fas" : "far") fa-bookmark"></i>
                </div>
            </div>
        </a>
    </div>
}
    </div>
</div>
